*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #1b2d3f;
	font-family: sans-serif;
}

/*HEADER*/

header{
	width: 100%;
	position: fixed;
	top:0px;
	left:au;
	background-color: #111111;
	min-width: 1267px;
	/*Flexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.headerLogo{
	width: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	color:white;
}

.headerLogo img{
	margin: 10px 10px 10px 20px;
	width: 64px;
	height: 64px;
}

.headerMenu{
	width: 70%;
	/*Flexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-end;
	align-items: center;
}

.headerMenu nav{
	margin-right: 20px;
}


.headerMenu a {
	display: inline-block;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-decoration: none;
}

header div nav a:hover{
	background-color: rgb(97, 97, 97);
	border-bottom: solid red 5px;
	border-radius: 5px;
}


.search{
	margin-right: 20px;
}

/*HEADER*/

/*FOOTER*/

footer{
	background-color: #111111;
	width: 100%;
	height: 70px;
	position:absolute;

	/*Fexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

footer div a img{
	height: 30px;
	width: 30px;
	margin: 5px 10px;
}

.media{
	margin-right: 20px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Por alguna razón, el copyright se ve en tamaño 32 y negrita, lo he ajustado manualmente para que sea igual a los otros copyright*/
footer p{
	color:white;
	margin-left: 20px;
	font-size: 16px;
	font-weight: normal;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/

/*FOOTER*/

#Contenedor_sobre_nosotros{
	margin-top: 90px;
}

#Lista_integrantes{
	display: flex;
	flex-direction: row;
}

.Integrante{
	width: 25%;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	margin: 10px;
	border: solid #cb1326 2px;
	border-radius: 10px;
	color:rgb(199, 199, 199);
	align-items: center;
}

#Titulo{
	height: 50px;
	margin: 10px;
	padding: 10px;
	border: solid #cb1326 2px;
	border-radius: 10px;
	color:rgb(199, 199, 199);
	text-align: center;
	font-size: 30px;
}

.Nombre{
	text-align: center;
	margin-top: 4px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/

/*HACER QUE LAS FOTOS TENGAN EL TAMAÑO EN PORCENTAJES, NO SE AJUSTAN BIEN*/

.Imagen_integrante{
	width: 200px;
	height: 200px;
	margin: 10px;
	background-color: lightblue;
	border: solid darkblue; 2px;
}

#Imagen_Albert{
	background-image:;
}

#Imagen_Edu{
	background-image:;
}

#Imagen_Irene{
	background-image:;
}

#Imagen_Sergio{
	background-image:;
}

.descripcion{
	width: 90%;
	margin: 30px 10px;

}


