/*Fomarto con letra capital en cada parrafo y texto justificado"*/
*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #1b2d3f;
	font-family: sans-serif;
}

/*HEADER*/

header{
	width: 100%;
	position: fixed;
	top:0px;
	left:au;
	background-color: #111111;
	min-width: 1267px;
	/*Flexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 1;
}

.headerLogo{
	width: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	color:white;
}

.headerLogo img{
	margin: 10px 10px 10px 20px;
	width: 64px;
	height: 64px;
}

.headerMenu{
	width: 70%;
	/*Flexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-end;
	align-items: center;
}

.headerMenu nav{
	margin-right: 20px;
}


.headerMenu a {
	display: inline-block;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-decoration: none;
}

header div nav a:hover{
	background-color: rgb(97, 97, 97);
	border-bottom: solid red 5px;
	border-radius: 5px;
}


.search{
	margin-right: 20px;
}

/*HEADER*/

/*FOOTER*/

footer{
	background-color: #111111;
	width: 100%;
	height: 70px;
	position:absolute;

	/*Fexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

footer div a img{
	height: 30px;
	width: 30px;
	margin: 5px 10px;
}

.media{
	margin-right: 20px;
}


footer p{
	color:white;
	margin-left: 20px;
	font-style: italic;
}

/*FOOTER*/

#Contenedor_videos{
	margin-top: 90px;
	/*Flexbox*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	
}

.caja_video{
	margin: 20px 10px;
	width: 870px;
	padding: 20px;
	border: solid #cb1326 2px;
	border-radius: 10px;
	color: rgb(199, 199, 199);

}

.caja_video p{
	width: 800px;
	margin-left: 35px;
}


.video{
	margin-left: 35px;
	width: 800px;
	height: 450px;
}

.descripcion::first-letter{
	font-size: 3em;
	margin: 2px;
}

.descripcion{
	width: 800px;
	text-align: justify;
}


